version: "3.9"

services:
    app:
        image: php:8.2-fpm
        container_name: symfony_app
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        depends_on:
            - db

    web:
        image: nginx:latest
        container_name: symfony_web
        ports:
            - "8080:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
        depends_on:
            - app

    db:
        image: mysql:8.0
        container_name: symfony_db
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: symfony
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        ports:
            - "3306:3306"
        volumes:
            - db_data:/var/lib/mysql

volumes:
    db_data:
