nelmio_cors:
    defaults:
        allow_credentials: false
        allow_origin: []
        allow_headers: []
        allow_methods: []
        max_age: 3600

    paths:
        '^/api/':
            allow_origin:
                - 'http://localhost:5173'  #nassima : Or http://localhost:4200 For angular project
            allow_headers:
                - 'Content-Type'
                - 'Authorization'
            allow_methods:
                - GET
                - POST
                - PUT
                - PATCH
                - DELETE
                - OPTIONS
